html {
  padding-top: 65px !important;
  scroll-behavior: smooth;
}

.footer{
  margin-top: 10% !important;
}

* {
  text-align: justify !important;
}

.fixed.menu {
  border-bottom: 2px solid gray !important;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: fit-content;
  border: none !important;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to right, #fc466b, #3f5efb);
}

.ui.container.content {
  z-index: 2;
  position: absolute;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveBottom {
  background-size: 50% 100px;
}

.mwhite .wave-image {
  background-image: url('assets/images/wave-bot.png');
  transition: all 0.5s ease !important;
}

.wave-image,
.mdark .wave-image {
  background-image: url('assets/images/wave-bot-dark.png');
  transition: all 0.5s ease !important;
}

.mblack {
  background-color: black !important;
  color: white !important;
  border-color: gray !important;
  transition: all 0.5s ease !important;
}

.mwhite {
  background-color: white !important;
  color: black !important;
  transition: all 0.5s ease !important;
}

.mdark {
  background-color: #313131 !important;
  color: white !important;
  transition: all 0.5s ease !important;
}

.mdark * :not(.mcontact, .mcontact *) {
  border-color: gray !important;
}

.mdark * :not(a, .button, .masthead *, .footer *, .fixed *, .card, .card *, .mcell *, .mcell) {
  background-color: unset !important;
  color: unset !important;
  border-color: gray !important;
}

.mblack * :not(a, .button, .masthead *, .footer *, .fixed *, .card, .card *, .mcell *, .mcell) {
  background-color: unset !important;
  color: unset !important;
  border-color: gray !important;
}

.mwhite * :not(a, .button, .masthead *, .footer *, .fixed *, .card, .card *, .mcell *, .mcell) {
  background-color: unset !important;
  color: unset !important;
}

.hidden.menu {
  display: none;
}

.ui.fixed .right.item .ui.button {
  margin-left: 0.5em;
}

.sidebar .horizontal.menu {
  padding: 13px 16px;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.ui.fixed.menu .toc.item {
  display: none;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.navdiv {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}

.logo {
  background: url('assets/images/multi_logo_200x200.png');
  background-position-x: -136px;
  background-position-y: -63px;
  width: 50px;
  height: 75px !important;
  transform: scale(0.5);
  transform-origin: top right;
  object-fit: cover;
}

.inverted.logo {
  background: url('assets/images/red_logo_200x200.png');
  background-position-x: -136px;
  background-position-y: -63px;
  width: 50px;
  height: 75px !important;
  transform: scale(0.5);
  transform-origin: top right;
  object-fit: cover;
}

.ui.logo-container {
  width: 25px !important;
  height: 37.5px !important;
}

.text-logo {
  background: url('assets/images/red_logo_200x200.png');
  background-position-x: 0px;
  background-position-y: -90px;
  width: 140px;
  height: 50px !important;
  transform: scale(1);
  transform-origin: top;
  object-fit: cover;
}

.inverted.text-logo {
  background: url('assets/images/red_logo_200x200.png');
  background-position-x: 0px;
  background-position-y: -90px;
  width: 140px;
  height: 75px !important;
  transform: scale(1);
  transform-origin: top;
  object-fit: cover;
}

.ui.text-logo-container {
  width: 140px !important;
  height: 37.5px !important;
}

.mcards .card {
  background-color: whitesmoke !important;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
  margin: 1.5% !important;
  display: flex;
}

.mcards .card-header {
  background-color: #667fff !important;
  padding: 5%;
}

.mcards .card-header .header {
  color: white !important;
}

.mcards .important .card-header {
  background-color: #fc6986 !important;
  transition: all 0.5s ease !important;
}

.mcards .card {
  box-sizing: content-box !important;
  height: calc(100% + 20px) !important;
  transition: all 0.5s ease !important;
}

* {
  font-size: 100%;
}

.mcards .column {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.mcards .column:hover {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  transition: all 0.5s ease !important;
}

.mcards {
  max-width: 1000px !important;
  height: max-content !important;
  margin-bottom: 40px !important;
  margin-top: 80px !important;
}

.column .mcell {
  color: black;
  border-radius: 5px;
  overflow: hidden !important;
}

img.mcell {
  min-height: 100%;
  min-width: 100%;
}

.mgrid .two.column .mcell {
  height: 400px !important;
}

.mgrid .three.column .mcell {
  height: 300px !important;
}

.mdesc {
  color: white !important;
  background-color: black !important;
  padding: 10% !important;
  width: calc(100% - 28px) !important;
  height: 100% !important;
  position: absolute;
  top: 0px;
  left: 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}

.mdesc:hover {
  opacity: 0.8;
}

.mwhite .column .mcell {
  border-radius: 5px;
  margin: 200px !important;
  margin: 0px !important;
}

.mgrid {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 30px !important;
  max-width: 1200px !important;
}

.mactivity {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 30px !important;
  max-width: 900px !important;
}

.mactivity .column {
  padding: 30px !important;
}

.mact {
  margin: 30px !important;
}

.mimg {
  position: absolute !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
  width: 150px !important;
  height: 150px !important;
  transition: all 0.5s ease !important;
}

.mimg:hover {
  z-index: 0 !important;
  
}

.mimgh {
  opacity: 0;
  transition: all 0.5s ease !important;
}

.mimgh:hover {
  opacity: 1;
  z-index: 1 !important;
}

.mcontact {
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 30px !important;
  max-width: 900px !important;
}

.mcontact, .mcontact * {
  border: hidden !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.mcontact .card {
  background-color: unset !important;
  color: white !important;
  margin: 0 !important;
}

.mcontact .card>.content{
  background-color: #454545 !important;
  padding: 5%;
}

.mcontact .card-header {
  background-color: unset !important;
}

.msocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.msocial-icons .fa {
  float: left;
  clear: both;
  font-size:64px;
  margin:20px;
  transition: all 0.5s ease !important;
}

:root {
  --bg: 0px;
}

.msocial-text {
  font-size: 48px;
}

.msocial-text span {
  float: right;
  clear: both;
  transition: all 0.5s ease !important;
}

.msocial-text span:hover {
  margin-bottom: 15px;
  
}


.msocial-icons .fa:hover {
  color: #f4c026;
}

.slides {
  background: white;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.slides .angle {
  color: lightblue;
  cursor: pointer;
  position: relative;
  top: calc(50% - 20px);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
/* .slides .angle:hover {
  transform: scale(1.7);
} */
.slides .angle.right {
  float: right;
  margin-right: 1rem;
}
.slides .angle.left {
  float: left;
  margin-left: 1rem;
}
.slides .slide {
  height: 100%;
  padding: 2rem 5rem;
  transition: all 0.2s ease-in-out;
}
.slides .slide:not(.active) {
  display: none;
}
.slides .slide.inverted {
  color: white;
}
.slides .slide.shadow {
  text-shadow: 1px 1px 2px black;
}


.mgallery {
  display: none !important;  
}


@media only screen and (max-width: 600px) {

  /* .ui.fixed.menu {
      display: none !important;
    } */
  .ui.fixed.menu .item,
  .ui.fixed.menu .menu {
    display: none;
  }

  .ui.fixed.menu .toc.item {
    display: block;
  }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }

  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .masthead .ui.container {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  #second-part .mgrid {
    display: none !important;
  }

  .mgallery {
    display: block !important;
  }

}